@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 60px 45px;
}

/* HEADER */

#menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.head-nav {
    max-width: 600px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.nav-element {
    font-size: 20px;
}

/* FIRST PAGE */

.first-page {
    gap: 40px;
    display: flex;
    align-items: stretch;
}

.first-page-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

h1 {
    color: #FFF;
    font-family: Audiowide;
    font-size: 80px;
}

.text-red {
    color: #BC0F00;
}

.exhibition-description {
    font-size: 35px;
}

.button-buy-ticket {
    width: 100%;
    padding: 12px 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #BC0F00;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4.5px;
}

.mobile {
    display: none;
}

.start-photo {
    width: 50%;
}

/* ABOUT THE ARTISTS */

.about-the-artists {
    margin-bottom: 0;
    margin-top: 180px;
    display: flex;
    gap: 40px;
}

h2 {
    font-family: Audiowide;
    font-size: 60px;
}

.artists-info {
    font-size: 22px;
}

.artists-photo {
    max-width: 35%;
    width: 100%;
    object-fit: contain;
    height: auto;
}

/* GALLERY */

.gallery {
    margin-top: 180px;
}

.h2 {
    margin-bottom: 60px;
}

.img-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
}

.gallery-imgs {
    width: 100%;
    max-width: 350px;
}

/* SCHEDULE */

.schedule {
    margin-top: 180px;
}

.date {
    justify-self: flex-end;
    text-align: end;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px #fff solid;
    padding: 25px 0;
}

.schedule-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.arrows {
    height: 60px;
    transition: all 0.4s ease-in-out;
}

.arrow-h3 {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

h3 {
    font-weight: 400;
    font-size: 40px;
}

.popup-opened {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
    padding-left: 100px;
}

.popup-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #fff solid;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 400;
}

.popup-list .popup-element:last-child {
    border-bottom: none;
}


.schedule-element-open {
    transition: all 0.5s ease-in-out;
}

.schedule-element-open .popup-opened {
    max-height: 300px;
    margin-bottom: 20px;
}

.schedule-element-open .arrows {
    transform: rotate(90deg);
}

/* TICKETS */

.tickets {
    margin-top: 180px;
}

.ticket {
    display: flex;
    border-radius: 20px;
    border: 2px solid #7B7B7B;
    padding: 45px;
    margin-top: 60px;
    gap: 30px;
    max-width: 1100px;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    font-size: 22px;
}

.ticket-name {
    font-family: Audiowide;
    font-size: 40px;
}

.ticket-price {
    font-weight: 600;
}

.ticket .button-buy-ticket {
    border-radius: 10px;
}

.premium {
    align-items: end;
    text-align: end;
}

/* CONTACT US */

.contact-us {
    margin-top: 180px;
}

.contact-us-info-photo {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contact-us-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

.map {
    width: 582px;
    height: 376px;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

.contact-us-info-det {
    font-size: 30px;
    font-weight: 400;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 0 50px;
}

.foot-nav {
    max-width: 600px;
    width: 100%;
}

.social-media-div {
    display: flex;
    flex-direction: row;
}

/* @media for laptop 1024px */
@media (max-width: 1024px) {

    .about-the-artists,
    .gallery,
    .schedule,
    .tickets,
    .contact-us {
        margin-top: 100px;
    }

    h1 {
        font-size: 65px;
    }

    h2 {
        font-size: 45px;
        margin-bottom: 30px;
    }

    h3, .popup-element {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    .exhibition-description {
        font-size: 25px;
    }

    .nav-element {
        font-size: 18px;
    }

    .artists-info {
        font-size: 18px;
    }

    /* HEADER */

    header {
        margin-bottom: 50px;
    }

    #logo {
        width: 27px;
        height: 35px;
    }

    /* FIRST PAGE */

    .start-photo {
        width: 40%;
    }

    /* ABOUT THE ARTISTS */

    .artists-photo {
        max-width: 28%;
    }

    /* GALLERY */

    /* SCHEDULE */

    .arrow-h3 {
        gap: 20px;
    }

    .container {
        padding: 15px 0;
    }

    /* TICKETS */

    .ticket {
        padding: 30px;
    }

    .ticket-name {
        font-size: 30px;
    }

    .ticket-info {
        font-size: 16px;
    }

    .ticket-img {
        width: 60%;
    }

    .button-buy-ticket {
        font-size: 22px;
    }

    /* CONTACT US */

    .contact-us-info {
        justify-content: space-around;
    }

    .contact-us-info-det {
        font-size: 20px;
    }

    .map {
        width: 450px;
        height: 300px;
    }

    /* FOOTER */

    footer {
        padding: 60px 30px 0 30px;
    }
}

/* @madia for tablet 768px */

@media (max-width: 768px) {

    .about-the-artists,
    .gallery,
    .schedule,
    .tickets,
    .contact-us {
        margin-top: 80px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    h3, .popup-element {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .exhibition-description {
        font-size: 20px;
    }

    .nav-element {
        font-size: 18px;
    }

    .artists-info {
        font-size: 16px;
    }

    /* HEADER */

    header {
        margin-bottom: 50px;
    }

    #logo {
        width: 27px;
        height: 35px;
    }

    /* FIRST PAGE */

    .start-photo {
        width: 40%;
    }

    /* ABOUT THE ARTISTS */

    .artists-photo {
        max-width: 28%;
    }

    /* GALLERY */

    /* SCHEDULE */

    .arrow-h3 {
        gap: 10px;
    }

    .container, .popup-element {
        padding: 10px;
    }

    .popup-opened {
        padding-left: 80px;
    }

    /* TICKETS */

    .ticket {
        padding: 30px;
    }

    .ticket-name {
        font-size: 25px;
    }

    .ticket-info {
        font-size: 14px;
    }

    .ticket-img {
        width: 50%;
    }

    .button-buy-ticket {
        padding: 8px;
        font-size: 18px;
    }

    /* CONTACT US */

    .contact-us-info {
        justify-content: space-around;
    }

    .contact-us-info-det {
        font-size: 18px;
    }

    .map {
        width: 400px;
        height: 270px;
    }

    /* FOOTER */

    footer {
        padding: 40px 20px 0 20px;
    }

    footer .foot-nav .nav-list {
        margin: 30px;
        width: auto;
    }
}

/* @media for phone 400px */

@media (max-width: 425px) {
    body {
        padding: 30px 15px;
    }

    .about-the-artists,
    .gallery,
    .schedule,
    .tickets,
    .contact-us {
        margin-top: 60px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    h3, .popup-element {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .exhibition-description {
        font-size: 18px;
        margin: 10px 0 10px;
    }

    .nav-element {
        font-size: 20px;
    }

    .artists-info {
        font-size: 16px;
    }

    /* HEADER */

    header {
        margin-bottom: 30px;
    }

    #logo {
        width: 31px;
        height: 45px;
    }

    .head-nav {
        display: none;
    }

    #menu {
        width: 30px;
        height: 30px;
        display: block;
    }

    /* FIRST PAGE */

    .first-page {
        display: block;
    }

    .start-photo {
        width: 100%;
        margin-bottom: 10px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .button-buy-ticket {
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 4.5px;
    }

    /* ABOUT THE ARTISTS */

    .artists-photo {
        max-width: 100%;
        margin-bottom: 20px;
    }

    /* GALLERY */

    .img-grid {
        gap: 15px;
    }

    .gallery-imgs {
        max-width: 100%;
    }

    /* SCHEDULE */

    .arrows {
        height: auto;
        width: 30px;
    }
    .popup-opened {
        padding-left: 40px;
    }

    /* TICKETS */

    .ticket {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 15px;
        gap: 0;
    }

    .ticket-name {
        font-size: 18px;
    }

    .ticket-info {
        gap: 5px;
        font-size: 16px;
    }

    .ticket-img {
        display: none;
    }

    .ticket-sect {
        padding: 5px;
        letter-spacing: 3px;
        width: 100%;
    }

    .premium {
        align-items: baseline;
        text-align: left
    }

    /* CONTACT US */

    .contact-us-info-photo {
        display: block;
    }

    .contact-us-info {
        justify-content: space-around;
    }

    .contact-us-info-det {
        font-size: 16px;
    }

    .map {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    /* FOOTER */

    footer {
        padding: 10px 10px 0px 10px;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }

    footer .foot-nav .nav-list {
        margin: 0;
        align-items: center;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/* HOVER */

.button-buy-ticket:hover {
    background-color: #940C00;
}

/* ACTIVE */

.button-buy-ticket:active {
    border-radius: 20px;
    border: 2px solid #BC0F00;
    background: #171717;
    color: #BC0F00;
}